@model Book
@{
    ViewData["Title"] = "Details";
}


<br />
<h2>Info sul tuo libro</h2>
<hr />

<form asp-action="Details">
    <div class="container">
        <div asp-validation-summary="ModelOnly" disable class="text-danger"></div>
        <div class="form-group">
            <div class=" row">
                <div class="col-sm-1">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class=" row">
                <div class="col-sm-1">
                    <label asp-for="Author"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Author" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class=" row">
                <div class="col-sm-1">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Price" class="form-control" />
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-primary">Aggiorna</a>
            <a asp-action="Index" class="btn btn-sm btn-success">Torna alla lista dei tuoi libri</a>
        </div>
    </div>

</form>
